CONFIG_HAVE_ARCH_EVL=y
CONFIG_EVL=y
CONFIG_EVL_SCHED_QUOTA=y
CONFIG_EVL_SCHED_TP=y
CONFIG_EVL_SCHED_TP_NR_PART=4
CONFIG_EVL_RUNSTATS=y
CONFIG_EVL_COREMEM_SIZE=2048
CONFIG_EVL_NR_THREADS=256
CONFIG_EVL_NR_MONITORS=512
CONFIG_EVL_NR_CLOCKS=8
CONFIG_EVL_NR_XBUFS=16
CONFIG_EVL_NR_PROXIES=64
CONFIG_EVL_NR_OBSERVABLES=64
CONFIG_EVL_LATENCY_USER=0
CONFIG_EVL_LATENCY_KERNEL=0
CONFIG_EVL_LATENCY_IRQ=0
CONFIG_NET_DEVLINK=y
CONFIG_EVL_LATMUS=y
CONFIG_EVL_HECTIC=y
CONFIG_HAVE_DOVETAIL=y
CONFIG_DOVETAIL=y
CONFIG_DOVETAIL_LEGACY_SYSCALL_RANGE=y

CONFIG_CPU_FREQ=n
CONFIG_CPU_FREQ_STAT=n
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_GOV_USERSPACE=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_CPUFREQ_DT=n
CONFIG_ARM_IMX6Q_CPUFREQ=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_QORIQ_CPUFREQ=n

